@model PagedList.IPagedList<WebApplication.Models.ThreatReportViewModel>
@using PagedList.Mvc;
 @{ViewBag.Title = "GetAllThreathRequests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}





<h2>Threat Requests</h2>
<table class="table">
    <tr>
        <th>
           Name
        </th>

        <th>
           Email Address
        <th>
           Mobile no
        </th>
        <th>
           Worked at
        </th>

        <th>
           Organization name
        </th>
        <th>
           Stationed at:(city)
        </th>
        <th>
            Role
        </th>
        <th>
            Report date
        </th>

       <th>
            Threat level
        </th>
        <th>
            Is it related to a previously reported threat?
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.mobilde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.workat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.orgname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.station)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreatNotification.ReportDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ThreatNotification.Level_Of_Threat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreatNotification.Status)
            </td>
            <td>

                @Html.ActionLink("Process", "Process", new { id = item.ThreatNotification.ThreatNotification_Id, param = item.ThreatNotification.User_Id })
                |
                @Html.ActionLink("Discard", "Discard", new { id = item.ThreatNotification.ThreatNotification_Id, param = item.ThreatNotification.User_Id })


            </td>
        </tr>
    }

</table>
                        @ViewBag.messageerror <br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllThreathRequests",
    new { page }))