@model PagedList.IPagedList<WebApplication.Models.ProfileSettingViewModel>
@using PagedList.Mvc;


@{
    ViewBag.Title = "InfoUpdateRequests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Profile Setting Requests</h2>
<table class="table">
    <tr>
        <th>
          Name
        </th>

        <th>
           Email
        </th>
        <th>
            Mobile No
        </th>
        <th>
            Worked At
        </th>

        <th>
            Organizarion name
        </th>
        <th>
            Address
        </th>
        <th>
            Role
        </th>
        
        <th>
           Profile Request Date
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.mobilde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.workat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.orgname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.station)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateInfodetail.ProfileSetting_Request_Time)
            </td>
            <td>

                @Html.ActionLink("Update", "UpdateInfo", new { id = item.UpdateInfodetail.User_Id,param = item.UpdateInfodetail.Profile_Settings_id })


            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("InfoUpdateRequests",
    new { page }))


